@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap');

body {	
	opacity: 1 !important;
	line-height: 1;
}
	
.container-fluid{
	overflow: hidden;
	margin: 0px !important;
	padding: 0px !important;
}

.entry-blocks h1{
	z-index: 1;
	font-family: 'Titillium Web', sans-serif;
    text-align: center;
    opacity: 0;
    font-size: 8em !important;
    position: absolute;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	margin-top: 25vh;
	right: 0;
	color: black;
}

.landing-page{
	z-index: 0;
	position: absolute;
	top:0px;
    left:0px;
    bottom:0px;
    right:0px;
}
.jumbotron{
	background-color: #ffffff !important;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e6e4e8' fill-opacity='0.46'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	min-height: 600px;
    height: 100vh;
    width: 100%;
	position: relative;
	margin: 0px !important;
	padding: 0px !important;
}

.speedLines{
	background-color: black;
	height: 100px;
	width: 100px;
}

.title {
    z-index: 1 !important;    
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    opacity: 0;
    animation: fade-in-up .6s ease 3.2s forwards;
}

.sub-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    animation: fade-in-up .6s ease 3.5s forwards;
}

#bubbles{
	margin: 40px auto;
	padding: 10px;	
}

#bubbles i{
    color: aliceblue;
    margin: 6px auto;
}

#bubbles p {
    margin-top: 10px;
    opacity:.7;
    font-family: 'Patua One', cursive;
    text-align: center;
    position: relative;
}

#bubbles div{
	opacity: 0;
	display: inline-block;
	margin: 15px;
	border-radius: 50%;
	animation: fade-in-up .5s forwards;
}

#bubbles a{
	z-index: -1;
	text-align: center;
	border-radius: 50%;
	transition: 0.5s ease;
}

#bubbles a:hover{
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 1.5s infinite;
}

#bubbles img{
	width: 85%;
}

#bubbles div:nth-child(1) { animation-delay: 4.2s }
#bubbles div:nth-child(2) { animation-delay: 4.4s }
#bubbles div:nth-child(3) { animation-delay: 4.6s }
#bubbles div:nth-child(4) { animation-delay: 4.8s }



#bubbles a:hover + p {
    animation: bubble-text .15s ease forwards;
}

#education-bubble a{
    background-color: #D2E3FC;
    transition: 0.25s ease;
}

#education-bubble a:hover{
	background-color: #659cf6;
}

#exp-bubble a{
    background-color: #CEEAD6;
    transition: 0.25s ease;
}

#exp-bubble a:hover {
    background-color: #5bb873;
}

#skills-bubble a{
    background-color: #FFEFC3;
    transition: 0.25s ease;
}

#skills-bubble a:hover {
    background-color: #FCCE47;
}

#work-bubble a{
    background-color: #F8D2CE;
    transition: 0.25s ease;
}

#work-bubble a:hover{
	background-color: #E94135;
}

#education {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23659cf6' fill-opacity='.1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),linear-gradient(45deg, #f8f9fa, #b3d7ff);
}
#experience {
	box-shadow: 0px 0px 30px #84ca97;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23f0f8ff' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),linear-gradient(45deg, #f8f9fa, #CEEAD6);
}
#skills {
	box-shadow: 0px 0px 30px #ffcd48;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fcce47' fill-opacity='.25'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),linear-gradient(45deg, #f8f9fa, #FFEFC3);
}
#portfolio {
	box-shadow: 0px 0px 30px #f09f97;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23e94135' fill-opacity='0.1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E"),linear-gradient(45deg, #f8f9fa, #F8D2CE);
}

.section-icon{
	top: 20px;
	opacity: 0;
	margin: 0px auto;
	position: relative;
	text-align: center;
}

.section-icon i{
	padding: 10px;
	border-radius: 50%;
	border: 2px solid #659cf6;
}

.section-header{
	width: 100%;
	margin: 0px auto;
	position: relative;
	text-align: center;
}

.header-line{
	position: relative;
	height: 15px;
	width: 0%;
	margin: auto;
	border-radius: 10px;
	z-index: 1;
	right: 0;
	top: -10px;
	left: 0;
}

.sidebar {
	top: 50%;
	left: 0%;
	transform: translate(-50%, -50%);
    position: fixed;
    z-index: 3000 !important;
}

.sidebar i{
    color: white;
    opacity: 0;
}

.sidebar a {
	margin: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    opacity: 0;
    border: 20px solid transparent;
    transition: .2s ease;
}


.sidebar-active i{
	opacity: 1;
    display: relative;
}


.scroll-up{
	position: fixed;
	display: none;
	border-radius: 100%;
	transition: 0.5s;
	bottom: 5%;
	z-index: 2000;
}

.scroll-up:hover .fa-circle{
	color: #F2B103;
	border-radius: 100%;
	box-shadow: 4px 0px 10px #F2B103;
}

.scroll-up:hover .fa-chevron-up{
	color: #212529;
}

.info{
	display: none;
	width: 100%;
}

.info-section {
	min-height: 1000px;
	overflow: hidden;
	z-index: 0 !important;
}

.info-header {
	text-align: center;
    text-shadow: 2px 2px #D2E3FC;
    font-size: 6em;
    margin: 20px auto;
    z-index: 2;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    opacity: 0;
    padding: 0px 10px;
}

.exp-section{
	width: 75%;
	margin: 0px auto;
}

.exp-section ul{
	padding: 5px;
	text-align: left;
	list-style: none;
	display: inline-block;	
}

.exp-section h4{
	text-align: left;
	font-family: 'Quicksand', sans-serif;
}

.exp-section h5{
	font-family: 'Quicksand', sans-serif;
	text-align: left;
}

#itiviti-head, #mere-head, #zunroof-head, #itiviti-info, #mere-info, #zunroof-info{
	margin-top: 10px;
}

.exp-section .container{
	margin-top: 10px;
	border-bottom: 1px solid #dadada;
}

.skillbar {
	display:block;
	width:100%;
	margin: 10px auto;
	width: 75%;
	border-radius:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
    opacity: 0;
}

.skillbar-title span {
	border-radius: 5px;
	padding: 5px 10px;
	position: relative;
	top: 10px;
    background: black;
	color: white;
	font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.skillbar-bar {
	width: 0px;
	height:20px;
	background:#F2B103;
	border-radius:30px;
	position: relative;
	z-index: 1000;
}

.background-bar{
	position: relative;
	top: 22px;
	height:24px;
	z-index: 0;
	background: #C0C2C4;
	border-radius:33px;
	left: -3px;
	opacity: .5;
}

.edu-title h3, .edu-title h4 , .edu-title span{
	opacity: 0;
}

.edu-title h6 span, .exp-title h6 span{
	background: black;
	color: white;
	padding: 3px 9px;
	font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.edu-title h3, .exp-title h3{
    font-size: 1.5em;
    font-weight: bold;
}

.edu-title h4 {
    font-size: 1.2em;
    opacity: 0;
}

.exp-title h4 {
    font-size: 1em;
    font-style: italic;
}

.cgpa h5 {
	opacity: 0;
    font-size: 1.3em;
    font-weight: bold;
}

#education h3, #education h4 {
    font-family: 'Roboto Slab', serif;
    text-align: left;
    position: relative;
    display: flex;
}

.info-panel {
    position: relative;
}

.education-panel {
	opacity: 0;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    background-color: aliceblue;
    box-shadow: 0 0 8px 10px #c9dcfc;
}

.education-panel-child{
	padding: 10px 20px;
	overflow: hidden;	
}

.edu-divider{
	right: 105%;
	position: relative;
	width: 90%;
	border-bottom: 1px solid #D2E3FC;
}


.exp-title h3, .exp-title h4 , .exp-title span{
	opacity: 0;
}

.exp-details{
	opacity: 0;
	font-family: 'Quicksand', sans-serif;
}

.section-active .year span{
    animation: fade-in-right .5s ease-out forwards;
}

.section-active .degree{
    animation: fade-in-right .5s ease-out .1s forwards;
}

.section-active .college{
    animation: fade-in-right .5s ease-out .2s forwards;
}

.section-active .cgpa h5{
    animation: fade-in-right .5s ease-out .4s forwards;
}

.section-active .edu-divider{
    animation: fade-in-right .5s ease-out .5s forwards;
}

.section-active .company{
    animation: fade-in-right .5s ease-out forwards;
}

.section-active .exp-year span{
    animation: fade-in-right-span .3s ease-out .2s forwards;
}

.section-active .position{
    animation: fade-in-right .5s ease-out .1s forwards;
}

.section-active .exp-details{
    animation: fade-in-right .5s ease-out .3s forwards;
}


.experience-panel {
	opacity:0;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: #edf8f0;
    box-shadow: 0 0 8px 10px #bbe3c6;
    margin-top: 20px;
}

.experience-panel-child{
	opacity: 1;
	padding: 10px 20px;
	overflow: hidden;	
}

.exp-divider{
	right: 105%;
	position: relative;
	width: 90%;
	border-bottom: 1px solid #D2E3FC;
}

.skills-panel {
	opacity:0;
    transition: all 0.2s ease;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: #fffdf4;
    box-shadow: 0 0 8px 10px #ffe6a4;
    margin-top: 20px;
}

.skills-panel-child{
	opacity: 1;
	padding: 10px 20px;
	margin: 10px auto;
	overflow: hidden;	
}

.portfolio-panel {
	margin-top: 20px;
	opacity:0;
    transition: all 0.2s ease;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: #fdf5f4;
    box-shadow: 0 0 8px 10px #f3c4be;
}

.portfolio-panel-child{
	opacity: 1;
	padding: 10px 20px;
	margin: 10px auto;
	overflow: hidden;	
}

.portfolio-content{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin: 0px auto;
	width: 100%;
	
}
.portfolio-content li{
	width: 300px;
    height: 300px;
    padding: 0px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 10px 0px;
}
.portfolio-content li:hover .caption{
	opacity: 1;
	transform: translateY(-100px);
	-webkit-transform:translateY(-100px);
	-moz-transform:translateY(-100px);
	-ms-transform:translateY(-100px);
	-o-transform:translateY(-100px);
}
.portfolio-content li:hover img{
	opacity: 1;
	transform: translateY(-40px);
	-webkit-transform:translateY(-40px);
	-moz-transform:translateY(-40px);
	-ms-transform:translateY(-40px);
	-o-transform:translateY(-40px);
	cursor: pointer;
}
.portfolio-content img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 0;
}
.portfolio-content .caption{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top:300px;
	-webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}
.portfolio-content img{
	-webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}
.portfolio-content .blur{
	background-color: rgb(239, 119, 109);
	height: 300px;
	width: 300px;
	z-index: 5;
	position: absolute;
	top: 20px;
	opacity: .95;
}
.portfolio-content .caption-text h1{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}
.portfolio-content .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 300px;
	height: 300px;
	text-align: center;
	top: 40px;
	margin: 0px auto;
}

#portfolio img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#portfolio .row{
	margin: 10px auto;
}



@keyframes backgroundcolor {
    0% {
        background-color: #e1efff;
    }

    33% {        
        background-color: #f2fcf5;
    }

    66% {
        background-color: #fcf6e5;
    }
    
    
    100% {
        background-color: #f9f0ef;
    }
}




@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 150px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

@keyframes bubble-text {
    0% {
        top: 0px;
    }

    60% {
        
        top: 20px;
    }

    100% {
        top: 15px;
    }
}


@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-right-span {
  0%   {
    opacity: 0;
    margin-left: -15px;
  }
  100% {
  	opacity: 1;
    margin-left: 0px;
  }
}

@keyframes fade-in-right {
  0%   {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
  	opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-inout {
  0%   {
    opacity: 0;
    transform: translateY(30px);
  }
  20% {
  	opacity: 1;
    transform: translateY(0);
  }
  80%{
   opacity: 1;
   transform: translateY(0);
  }
   99%{
   opacity: 0;
   transform: translateY(-30px);
  }
   100% {
   opacity: 0;
   transform: translateY(-500px);
    }
}

@keyframes pulse2 {
    0% {
        -moz-box-shadow: 0 0 5px 5px rgba(191, 212, 246, 0.74);
        box-shadow: 0 0 5px 5px rgba(191, 212, 246, 0.74);
    }

    50% {
        -moz-box-shadow: 0 0 10px 12px rgba(181, 207, 244, 0.80);
        box-shadow: 0 0 10px 10px rgba(181, 207, 244, 0.80);
    }

    100% {
        -moz-box-shadow: 0 0 5px 5px rgba(191, 212, 246, 0.74);
        box-shadow: 0 0 5px 5px rgba(191, 212, 246, 0.74);
    }
}


@media only screen and (min-width: 769px) {
  .title {
  	margin-top: 25vh;
    font-size: 8em !important;
  }
}

@media only screen and (max-width: 768px) {
  .title {
  	line-height: 70px;
  	margin-top: 10vh;
    font-size: 5em !important;
  }
}

@media only screen and (min-width: 769px) {
  #bubbles a {
  	padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  #bubbles a {
  	padding: 10px;
  }
}

@media only screen and (min-width: 769px) {
  #bubbles p {
  	font-size: 1.1em !important;
  }
}

@media only screen and (max-width: 768px) {
  #bubbles p {
  	font-size: 1em !important;
  }
}

@media only screen and (min-width: 769px) {
  .entry-blocks h1 {
  	font-size: 8em !important;
  }
}

@media only screen and (max-width: 768px) {
  .entry-blocks h1 {
  	font-size: 5em !important;
  }
}

@media only screen and (max-width: 768px) {
  .sub-title {
    font-size: 1.2em !important;
  }
}

