body {
	opacity: 1 !important;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container-fluid{
	margin: 0px !important;
	padding: 0px !important;
}

.jumbotron{
	width: 100%;
	display: table;
	margin: 0px !important;
	padding: 0px !important;
	border-top: 20px solid #F2B103;
}

#bubbles{
	width: 100%;
	margin: 0px auto;
	padding: 10px;	
}

#education-bubble:hover{
	background-color: #659cf6;
}

#exp-bubble:hover{
	background-color: #5bb873;
	transition: 0.1s ease;
}

#skills-bubble:hover{
	background-color: #FCCE47;
	transition: 0.1s ease;
}

#work-bubble:hover{
	background-color: #E94135;
	transition: 0.1s ease;
}

#bubbles div{
	display: inline-block;
	border-radius: 50%;
	margin: 10px;
}

#bubbles a{
	padding: 20px !important;
	margin: 0px auto;
	text-align: center;
	border-radius: 50%;
	color: #81C692;
	transition: 0.1s ease;
}

#bubbles a:hover{
  background: #cca92c;
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 150px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

#bubbles i{
	margin: 6px auto;
}

.navbarnavs{
	bottom: 120px;
    left: 0;
    right: 0;
    top: 100px;
	width: 100px;
	display: block;
	position: fixed;
	height: 100px;
	text-align: center;
	color: #EBEBEC;
}

.navbars{
	bottom: 120px;
    right: 0;
    top: 100px;
	width: 100px;
	float: right;
	position: fixed;
	height: 100px;
}

.sidebar{
	z-index: 3000 !important;
	padding: 10px;
}

.sidebar i{
	padding: 15px;
	background-color: red;
	border-radius: 50%;
}

.sidebar li{
	opacity: 0;
	animation: fade-in-left .6s ease forwards;
}

.sidebar a:nth-child(1) { animation-delay: .2s }
.sidebar a:nth-child(2) { animation-delay: .4s }
.sidebar a:nth-child(3) { animation-delay: .6s }
.sidebar a:nth-child(4) { animation-delay: .8s }

.nav-smalls{
	width: 100%;
	margin: 0px auto;
	text-align: center;
	color: #EBEBEC;	
}

.nav-smalls a{
	display: block;
	width: 25%;
	padding: 20px !important;
	margin: 0px auto;
	text-align: center;
	color: #212529;
	
}

.nav-smalls img{
	margin: 0px auto;
}

.jumbotron img{
	margin: 60px auto 40px auto;
	display: block;
}

.navbar-navs a{	
	width: 25%;
	text-align: center;
	padding: 15px !important;
	color: #212529;
	opacity: 0;
	animation: fade-in-up .5s ease forwards;
}

.navbar-nav a:nth-child(1) { animation-delay: .2s }
.navbar-nav a:nth-child(2) { animation-delay: .4s }
.navbar-nav a:nth-child(3) { animation-delay: .6s }
.navbar-nav a:nth-child(4) { animation-delay: .8s }

.navbar-nav a:hover{	
	background-color: #fdd66f;
	border-bottom: 8px solid #212529;
	transition: 0.2s ease;
	font-weight: bold;
}
.navbar-nav a:hover > i{	
	position: relative;
	color: #212529;
  	-webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  	animation: mymove 1.2s ease infinite;
}

.sidebar-active i{
	background-color: black;
	transition: 0.2s ease;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-active i, .nav-active p{
    color: #F2B103;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Standard syntax */
@keyframes mymove {
  0%   {top: 0px;}
  20%  {top: -4px;}
  55% {top: 0px;}
  100% {top: 0px;}
}


.navbar-nav p{
	margin: 5px;
	font-family: 'Patua One', cursive;
}

.scroll-up{
	position: fixed;
	display: none;
	border-radius: 100%;
	transition: 0.5s;
	bottom: 5%;
	z-index: 2000;
}


.scroll-up:hover .fa-circle{
	color: #F2B103;
	border-radius: 100%;
	box-shadow: 4px 0px 10px #F2B103;
}

.scroll-up:hover .fa-chevron-up{
	color: #212529;
}

.info #experience{
	background-color: #EBEBEC;
}

.info #portfolio{
	background-color: #EBEBEC;
}


.info{
	text-align: center;
	width: 100%;
	margin: 10px auto;
}


.divider{
	height: 10px;
	text-align: center;
	width: 4%;
	margin: 10px auto;
	background-color: #F2B103;
}


.info-section {
	z-index: 0 !important;
	padding: 20px;
}

.info-section h3 {
	z-index: 0 !important;
	opacity: 0;
	font-family: 'Patua One', cursive;
	margin: 20px auto;
}


.exp-section{
	width: 75%;
	margin: 0px auto;
}

.exp-section ul{
	padding: 5px;
	text-align: left;
	list-style: none;
	display: inline-block;
	
}

.exp-section h4{
	text-align: left;
	font-family: 'Patua One', cursive;
}

.exp-section h5{
	font-family: 'Roboto Slab', serif;
	text-align: left;
}

#itiviti-head, #mere-head, #zunroof-head, #itiviti-info, #mere-info, #zunroof-info{
	margin-top: 10px;
}

.exp-section .container{
	margin-top: 10px;
	border-bottom: 1px solid #dadada;
}

.skillbar {
	display:block;
	width:100%;
	border-radius:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	font-weight:bold;
	font-size:13px;
	text-align: left;
}

.skillbar-title span {
	position: relative;
	top: 15px;
	padding: 10px;
	height:35px;
	line-height:35px;
}

.skillbar-bar {
	width: 0px;
	height:15px;
	background:#F2B103;
	border-radius:30px;
}

.bar2{
	position: relative;
	top: 15px;
	height:15px;
	z-index: -100;
	background: #C0C2C4;
	border-radius:30px;
}

#portfolio .row img{
	padding: 10px;
	margin: 10px;
	max-width: 250px;
}

.profile{
	opacity: 0;
	animation: fade-in-right 1s ease forwards;
}

.jumbotron h1 {
	z-index: 1000 !important;
	font-family: 'Patua One', cursive;
	text-align: center;
	opacity: 0;
	animation: fade-in-right .6s ease 0.3s forwards;
}

.jumbotron p{
	font-family: 'Roboto Slab', serif;
	text-align: center;
	opacity: 0;
	animation: fade-in-right .5s ease .6s forwards;
}

.entry-right {
	opacity: 0;
	animation: fade-in-right 1s ease forwards;
}


@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}