@import url(https://fonts.googleapis.com/css?family=Fjalla+One);


body {
	opacity: 1 !important;
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.container-fluid{
	overflow: hidden;
	margin: 0px !important;
	padding: 0px !important;
}

@keyframes backgroundcolor {
    0% {
        background-color: #e1efff;
    }

    33% {        
        background-color: #f2fcf5;
    }

    66% {
        background-color: #fcf6e5;
    }
    
    
    100% {
        background-color: #f9f0ef;
    }
}

.entry-blocks div {	
	height: 25vh;
	width: 200%;
	position: relative;
	z-index: 1000;
}

.entry-blocks{
	z-index: 1000;
	height: 100vh;
}

.entry-blocks h1{
	z-index: 1;
	font-family: 'Patua One', cursive;
    text-align: center;
    opacity: 0;
    font-size: 12em !important;
    position: absolute;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 25%;
	right: 0;
	color: black;
}

.block-1 {
    background-color: #659cf6;
    left: -200%;
}
.block-2 {
    background-color: #5bb873;
    right: -200%;
}
.block-3 {
    background-color: #FCCE47;
    left: -200%;
}
.block-4 {
    background-color: #E94135;
    right: -200%;
}
.landing-page{
	z-index: 0;
	position: absolute;
	top:0px;
    left:0px;
    bottom:0px;
    right:0px;
}
.jumbotron{
	min-height: 600px;
	overflow: hidden;
    height: 100vh;
    width: 100%;
	position: relative;
	margin: 0px !important;
	padding: 0px !important;
	animation: backgroundcolor 10s ease infinite;
}

.title {
    margin-bottom:0px;
    font-size: 6em !important;
    margin-top: 20vh;
    z-index: 1 !important;
    font-family: 'Patua One', cursive;
    text-align: center;
    opacity: 0;
    animation: fade-in-right .6s ease .75s forwards;
}

.sub-title {
    margin-bottom: 10vh;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    opacity: 0;
    animation: fade-in-left .5s ease .4s forwards;
}

.bigb{
	background-color: red;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	top: 38px;
	left: 38px;
	position: absolute;
	z-index: -1000;
}

#bubbles{
	margin: 40px auto;
	padding: 10px;	
}

#bubbles i{
    color: aliceblue;
    margin: 6px auto;
}

#bubbles p {
    margin-top: 10px;
    opacity:.7;
    font-size: 1.1em !important;
    font-family: 'Patua One', cursive;
    text-align: center;
    position: relative;
}


#bubbles div{
	opacity: 0;
	display: inline-block;
	border-radius: 50%;   
	margin: 25px;
	animation: fade-in-up .5s forwards;
}

/* 
#bubbles div:nth-child(1) { animation-delay: 3.2s }
#bubbles div:nth-child(2) { animation-delay: 3.4s }
#bubbles div:nth-child(3) { animation-delay: 3.6s }
#bubbles div:nth-child(4) { animation-delay: 3.8s } */


#bubbles a{
	z-index: -1;
	padding: 40px !important;
	text-align: center;
	border-radius: 50%;
	transition: 0.5s ease;
}

#bubbles a:hover{
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 150px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}


#bubbles a:hover + p {
    animation: bubble-text .15s ease forwards;
}

/* Standard syntax */
@keyframes bubble-text {
    0% {
        top: 0px;
    }

    60% {
        
        top: 20px;
    }

    100% {
        top: 15px;
    }
}


#education-bubble a{
    background-color: #D2E3FC;
    transition: 0.25s ease;
}

#education-bubble a:hover{
	background-color: #659cf6;
}

.bigb:hover{
	transform: scale(30);
}

#exp-bubble a{
    background-color: #CEEAD6;
    transition: 0.25s ease;
}

#exp-bubble a:hover {
    background-color: #5bb873;
}

#skills-bubble a{
    background-color: #FFEFC3;
    transition: 0.25s ease;
}

#skills-bubble a:hover {
    background-color: #FCCE47;
}

#work-bubble a{
    background-color: #F8D2CE;
    transition: 0.25s ease;
}

#work-bubble a:hover{
	background-color: #E94135;
}

#education {
    background-image: linear-gradient(45deg, #f8f9fa, #b3d7ff);
}
#experience {
	background-image: linear-gradient(45deg, #f8f9fa, #CEEAD6);
}
#skills {
	background-image: linear-gradient(45deg, #f8f9fa, #FFEFC3);
}
#portfolio {
	background-image: linear-gradient(45deg, #f8f9fa, #F8D2CE);
}

.section-icon{
	top: 20px;
	opacity: 0;
	margin: 0px auto;
	position: relative;
	text-align: center;
}

.section-icon i{
	padding: 10px;
	border-radius: 50%;
	border: 2px solid #659cf6;
}

.section-header{
	width: 100%;
	margin: 0px auto;
	position: relative;
	text-align: center;
}

.header-line{
	position: absolute;
	height: 2px;
	width: 0%;
	top: 67px;
	margin: 10px auto;
	z-index: 1;
	right: 0;
	left: 0;
}

.sidebar {
	top: 50%;
	left: 0%;
	transform: translate(-50%, -50%);
    position: fixed;
    z-index: 3000 !important;
}

.sidebar i{
    color: white;
    opacity: 0;
}

.sidebar a {
	margin: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    opacity: 0;
    border: 20px solid transparent;
    transition: .2s ease;
}



@keyframes pop-out {
  0%   {
    width: 70px;
  }
  80% {
  	width: 85px;
  }
  100% {
  	width: 80px;
  }
}



.sidebar-active a{

}

.sidebar-active i{
	opacity: 1;
    display: relative;
}

/* Standard syntax */
@keyframes mymove {
  0%   {top: 0px;}
  20%  {top: -4px;}
  55% {top: 0px;}
  100% {top: 0px;}
}

.scroll-up{
	position: fixed;
	display: none;
	border-radius: 100%;
	transition: 0.5s;
	bottom: 5%;
	z-index: 2000;
}


.scroll-up:hover .fa-circle{
	color: #F2B103;
	border-radius: 100%;
	box-shadow: 4px 0px 10px #F2B103;
}

.scroll-up:hover .fa-chevron-up{
	color: #212529;
}

.info{
	display: none;
	width: 100%;
}

.info-section {
	min-height: 1000px;
	overflow: hidden;
	z-index: 0 !important;
}

.info-header {
	text-align: center;
    text-shadow: 2px 2px #D2E3FC;
    font-size: 6em;
    margin: 20px auto;
    z-index: 2;
   	background-color: #D2E3FC;
    position: relative;
    font-family: 'Patua One', cursive;
    display: inline-block;
    opacity: 0;
    padding: 0px 10px;
}


.exp-section{
	width: 75%;
	margin: 0px auto;
}

.exp-section ul{
	padding: 5px;
	text-align: left;
	list-style: none;
	display: inline-block;
	
}

.exp-section h4{
	text-align: left;
	font-family: 'Patua One', cursive;
}

.exp-section h5{
	font-family: 'Roboto Slab', serif;
	text-align: left;
}

#itiviti-head, #mere-head, #zunroof-head, #itiviti-info, #mere-info, #zunroof-info{
	margin-top: 10px;
}


.exp-section .container{
	margin-top: 10px;
	border-bottom: 1px solid #dadada;
}

.skillbar {
	display:block;
	width:100%;
	margin: 10px auto;
	width: 75%;
	border-radius:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
    opacity: 0;
}

.skillbar-title span {
	border-radius: 5px;
	padding: 5px 10px;
	position: relative;
	top: 10px;
    background: black;
	color: white;
	font-family: 'Roboto Slab', serif;
    text-align: center;
}

.skillbar-bar {
	width: 0px;
	height:20px;
	background:#F2B103;
	border-radius:30px;
	position: relative;
	z-index: 1000;
}

.background-bar{
	position: relative;
	top: 22px;
	height:24px;
	z-index: 0;
	background: #C0C2C4;
	border-radius:33px;
	left: -3px;
	opacity: .5;
}

#portfolio .row img{
	padding: 10px;
	margin: 10px;
	max-width: 250px;
}

.profile{
	opacity: 0;
	animation: fade-in-right 1s ease forwards;
}

.entry-right {
    opacity: 0;
}


@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}



@keyframes fade-in-right {
  0%   {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
  	opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-inout {
  0%   {
    opacity: 0;
    transform: translateY(30px);
  }
  20% {
  	opacity: 1;
    transform: translateY(0);
  }
  80%{
   opacity: 1;
   transform: translateY(0);
  }
   99%{
   opacity: 0;
   transform: translateY(-30px);
  }
   100% {
   opacity: 0;
   transform: translateY(-500px);
    }
}

.edu-title h3, .edu-title h4 , .edu-title span{
	opacity: 0;
}

.edu-title h6 span, .exp-title h6 span{
	background: black;
	color: white;
	padding: 3px 9px;
	font-family: 'Roboto Slab', serif;
    text-align: center;
}

.edu-title h3, .exp-title h3{
    font-size: 1.5em;
    font-weight: bold;
}

.edu-title h4 {
    font-size: 1.2em;
    opacity: 0;
}

.exp-title h4 {
    font-size: 1em;
    font-style: italic;
}

.cgpa h5 {
	opacity: 0;
    font-size: 1.3em;
    font-weight: bold;
}

#education h3, #education h4 {
    font-family: 'Roboto Slab', serif;
    text-align: left;
    position: relative;
    display: flex;
}

.info-panel {
    position: relative;
}

.education-panel {
    transition: all 0.2s ease;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: aliceblue;
    box-shadow: 0 0 8px 10px #c9dcfc;
}

.education-panel-child{
	padding: 10px 20px;
	margin: 10px;
	overflow: hidden;	
}

.edu-divider{
	right: 105%;
	position: relative;
	width: 90%;
	border-bottom: 1px solid #D2E3FC;
}

@keyframes pulse2 {
    0% {
        -moz-box-shadow: 0 0 5px 5px rgba(191, 212, 246, 0.74);
        box-shadow: 0 0 5px 5px rgba(191, 212, 246, 0.74);
    }

    50% {
        -moz-box-shadow: 0 0 10px 12px rgba(181, 207, 244, 0.80);
        box-shadow: 0 0 10px 10px rgba(181, 207, 244, 0.80);
    }

    100% {
        -moz-box-shadow: 0 0 5px 5px rgba(191, 212, 246, 0.74);
        box-shadow: 0 0 5px 5px rgba(191, 212, 246, 0.74);
    }
}

.exp-title h3, .exp-title h4 , .exp-title span{
	opacity: 0;
}


.exp-details{
	opacity: 0;
}

.section-active .year span{
    animation: fade-in-right .5s ease-out forwards;
}

.section-active .degree{
    animation: fade-in-right .5s ease-out .1s forwards;
}

.section-active .college{
    animation: fade-in-right .5s ease-out .2s forwards;
}

.section-active .cgpa h5{
    animation: fade-in-right .5s ease-out .4s forwards;
}

.section-active .edu-divider{
    animation: fade-in-right .5s ease-out .5s forwards;
}

.section-active .company{
    animation: fade-in-right .5s ease-out forwards;
}

.section-active .exp-year span{
    animation: fade-in-right .5s ease-out .1s forwards;
}

.section-active .position{
    animation: fade-in-right .5s ease-out .2s forwards;
}

.section-active .exp-details{
    animation: fade-in-right .5s ease-out .3s forwards;
}


.experience-panel {
    transition: all 0.2s ease;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: #edf8f0;
    box-shadow: 0 0 8px 10px #bbe3c6;
}

.experience-panel-child{
	opacity: 1;
	padding: 10px 20px;
	margin: 10px;
	overflow: hidden;	
}

.exp-divider{
	right: 105%;
	position: relative;
	width: 90%;
	border-bottom: 1px solid #D2E3FC;
}

.skills-panel {
    transition: all 0.2s ease;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: #fffdf4;
    box-shadow: 0 0 8px 10px #ffe6a4;
}

.skills-panel-child{
	opacity: 1;
	padding: 10px 20px;
	margin: 10px auto;
	overflow: hidden;	
}

.portfolio-panel {
    transition: all 0.2s ease;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: #fdf5f4;
    box-shadow: 0 0 8px 10px #f3c4be;
}

.portfolio-panel-child{
	opacity: 1;
	padding: 10px 20px;
	margin: 10px auto;
	overflow: hidden;	
}

@keyframes shine {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    100% {
        transform: translatex(100px) translatey(100px);
    }
}